{% extends "network/layout.html" %}

{% block body %}
    {% for i in page_obj %}
            <div id="userToweets">
                <a href="{% url 'userinfo' i.PostCreator %}"><h1>{{ i.PostCreator }}</h1></a>
                <p>{{ i.PostContent }}</p>
                <h2>{{ i.PostCreatedAt }}</h2>
                <h3 style="display: inline;">{{ i.PostLikes }}</h3>
                <p id="postId">{{i.id}}</p>
                <i onclick="myFunction(this, this.previousElementSibling)" class="fa fa-thumbs-o-up"></i>
            </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">&laquo;</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>


{% endblock %}